---
layout: page
title: "Nihongo Familiar"
subtitle: "Projects, stories, & ideas to help make learning the Japanese language a more cute, fun, and chill experience for all of us~!"
hero_src: "/assets/images/foundation/default-hero-white.png"
---

<p>みなさん、こんにちは。Welcome to the <em>{{@site.title}}!</em></p>
<p>
  I'm a wonder-enthusiast that is learning the Japanese language &amp; trying to fill the learning experience with creative ways we can study &amp; practice it together! In this blog, I'll share insights I've learned about the language &amp; culture; ways to make the study experience more fun; &amp; projects I've put together to make studying a whole 1% cooler! Let's support eachothers' learning adventures while we find fun &amp; interesting things along the way~ &#128170; &#10024; &#10024; &#10024;
</p>
<p>
  <em><strong>Note:</strong>&nbsp;
  This blog usually updates on the first Tuesday of the month.</em>
</p>
<br />
<br />


<h2>Latest Insights</h2>
<ul class="post-previews compacted minimized">
{% if site.posts.size > 0 %}
  {% for post in site.posts limit:6 %}
    {% include postcard.html %}
  {% endfor %}
{% else %}
  <li><p>Uh-oh! There are no posts here yet.</p></li>
{% endif %}
</ul>
<!-- <p><a title="Click to view more insights" href="{{@site.url}}/insights/">View More Insights...</a></p> -->
<br />
<br />

<h2>Reach out!</h2>
<p>
  Feel free to reach out to me on <a href="https://twitter.com/NihongoFamiliar" target="_blank" title="The Nihongo Familiar Twitter">Twitter</a> or <a href="https://ko-fi.com/nihongofamiliar" target="_blank" title="The Nihongo Familiar Ko-fi">Ko-fi</a>. I'm shy, but would absolutely love to hear how this blog or my other projects have helped you in the learning experience! If you have legitimate critique or suggestions to make my work better, I'd love to hear about that too!
</p>
<br />
<br />
