<footer id="site-footer">
	<p lang="ja" class="row tyvm" title="Thank you for reading!">
		<ruby>読<rp>(</rp><rt>よ</rt><rp>)</rp>んで</ruby>
		<span>くれて</span>
		<span>ありがとう</span>
		<span>ございました！</span>
	</p>

	<div class="row socials">
		<div class="soc-media">
			<p>Reach out, &amp; say hi:</p>
			<ul class="soc-list">
				<li class="soc-item">
					<a href="https://twitter.com/NihongoFamiliar" target="_blank" title="The Nihongo Familiar Twitter">
						<svg class="twitter-mark" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.6c-.9.4-1.8.7-2.8.8 1-.6 1.8-1.6 2.2-2.7-1 .6-2 1-3.1 1.2-.9-1-2.2-1.6-3.6-1.6-2.7 0-4.9 2.2-4.9 4.9 0 .4 0 .8.1 1.1-4.2-.2-7.8-2.2-10.2-5.2-.5.8-.7 1.6-.7 2.5 0 1.7.9 3.2 2.2 4.1-.8 0-1.6-.2-2.2-.6v.1c0 2.4 1.7 4.4 3.9 4.8-.4.1-.8.2-1.3.2-.3 0-.6 0-.9-.1.6 2 2.4 3.4 4.6 3.4-1.7 1.3-3.8 2.1-6.1 2.1-.4 0-.8 0-1.2-.1 2.2 1.4 4.8 2.2 7.5 2.2 9.1 0 14-7.5 14-14v-.6c1-.7 1.8-1.6 2.5-2.5z" /></svg>
					</a>
				</li>
				<li class="soc-item tbd" aria-hidden="true"></li>
				<li class="soc-item tbd" aria-hidden="true"></li>
				<li class="soc-item tbd" aria-hidden="true"></li>
			</ul>
		</div>

		<div id="ko-fi-button">
			<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
			<script type='text/javascript'>kofiwidget2.init('Cheer for us on Ko-fi!', '#e35d6d', 'N4N23N1G6');kofiwidget2.draw();</script>
		</div>
	</div>

	<p class="row the-annoying-but-necessary">&copy; Nihongo Familiar LLC, {{ site.time | date: '%Y' }}</p>
</footer>
