<li class="post-preview">
  <a href="{{post.permalink}}" title="Press to read {{post.title}}" aria-label="Press to read {{post.title}}">
    <header class="post-preview-header">
      {% if post.hero_src %}
        <img aria-hidden="true" class="bg-img" src="{{post.hero_src}}" alt="{{post.title}}">
      {% else %}
        <img aria-hidden="true" class="bg-img" src="{{hero_src}}" alt="{{post.title}}">
      {% endif %}
      <!-- TODO: Tags -->
    </header>
    <footer class="post-preview-body">
      <p class="title">{{post.title}}</p>
      {% if post.subtitle %}<p class="description">{{post.subtitle | truncatewords:25}}...</p>{% endif %}
    </footer>
  </a>
</li>
