---
layout: default
---

<figure id="hero" aria-hidden="true">
{% if page.hero_src %}
	<img src={{page.hero_src}}>
{% else %}
	<img src="/assets/images/foundation/default-hero.png">
{% endif %}
</figure>

<header class="title">
	<h1>
		{{page.title}}
		{% if page.subtitle %}<small>{{page.subtitle}}</small>{% endif %}
	</h1>

	<!--<div class="share-bar">{% include sharelinks.html %}</div>-->
	
	<hr class="article-title-divider" />
</header>

<div>{{content}}</div>

<footer>
	<!--<div class="share-bar">{% include sharelinks.html %}</div>-->
	<hr class="article-footer-divider" />
	
	<div class="footer-content">
		{% for author in site.authors %}
		{% if author.slug == page.author %}
			<a class="article-author" title="Press to view {{author.name}}'s author page" aria-label="Press to view {{author.name}}'s author page" href="{{author.permalink}}">
				<img aria-hidden="true" alt="{{author.name}}'s avatar" src="{{author.icon_src}}" /> {{author.name}}
			</a>
		{% endif %}
		{% endfor %}
	
		<p class="article-date">
			Published on {{page.date | date_to_long_string}}.
		</p>
	</div>
</footer>

{% include disqus.html %}
